@import "tailwindcss";
@import 'swiper/swiper-bundle.css';

.slide-up {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.slide-up.active {
  transform: translateY(0);
  opacity: 1;
}

.slide-down {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.slide-down.active {
  transform: translateY(0);
  opacity: 1;
}

.slide-in {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.slide-in.active {
  transform: translateX(0);
  opacity: 1;
}

.slide-out {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.slide-out.active {
  transform: translateX(0);
  opacity: 1;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  position: relative;
  background-color: rgb(165,22,27); 
  padding-top: 150px;
  overflow: hidden;
}

.header-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('./assets/images/Rectangle_40.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 1; 
  z-index: 0;
  pointer-events: none;
}

.header-container > * {
  position: relative;
  z-index: 1;
}

















.slide-in.visible {
  opacity: 1;
}

.top-slide-in {
  transform: translateY(-100px);
  transition: transform 1s, opacity 1s;
}

.top-slide-in.visible {
  transform: translateY(0);
}

.bottom-slide-in {
  transform: translateY(100px);
  transition: transform 1s, opacity 1s;
}

.bottom-slide-in.visible {
  transform: translateY(0);
}

.left-slide-in {
  transform: translateX(-100px);
  transition: transform 1s, opacity 1s;
}

.left-slide-in.visible {
  transform: translateX(0);
}

.right-slide-in {
  transform: translateX(100px);
  transition: transform 1s, opacity 1s;
}

.right-slide-in.visible {
  transform: translateX(0);
}